.nav {
  background-image: image('Images/9dj.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-brand, .nav-link {
  color: #fff;
}
.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 600px; /* set the maximum width of the card */
  margin: 0 auto; /* center the card horizontally */
}

.card-img-top {
  object-fit: cover;
  height: 50%;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 250px;
  }
}
